body {
	width:100vw;
	height:100vh;
	margin:0;
	overflow:auto;
	font-family: 'Ubuntu', sans-serif;
}

nav {
	position:absolute;
	top:0;
	right:0;
	display:flex;
	flex-direction:row-reverse;
	width:40vw;
	height:50px;
	align-items:center;
	justify-content:flex-start;
	gap: 20px;
	margin-right:20px;
}

nav a {
	color:white;
	text-decoration:none;
	padding:0.5em;
	cursor:pointer;
}

nav a img {
	width:32px;
	height:32px;
	border-radius:50%;
	object-fit: cover;
	background-color:white;
}

nav a:hover {
	background-color:#ffffff75;
	color: black;
	border-radius:3px;
}

main {
	background-image:url(studentsgreen.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 50%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.divmain {
	margin:0 1em;
	text-align:center;
	background-color: #ffffff75;
	border-radius:10px;	
	padding:20px;
	box-sizing:border-box;
	height:100%;
}

#account {
	margin:0 1em;
	text-align:center;
	background-color: #ffffff75;
	border-radius:10px;	
	padding:20px;
	box-sizing:border-box;
}

#account > img {
	width:200px;
	height:200px;
	object-fit: contain;
}

main h1 {
	font-size:96px;
	color:#003200;
	font-family: 'Ubuntu', sans-serif;
}

main h2 {
	font-size:36px;
	font-family: 'Ubuntu', sans-serif;
}

main form {
	display:flex;
	flex-direction:column;
	gap:20px;
	margin-bottom:20px;
	width:320px;
}

main form input, main form select {
	width:100%;
	padding:0.5em;
	box-sizing:border-box;
	border-radius:3px;
	border:none;
}

main form input[type=submit]:hover {
	background-color:#dfdfdf;
	cursor:pointer;
}

#saved {
	width:200px;
	height:30px;
	font-size:20px;
	font-family: 'Ubuntu', sans-serif;
	border-radius:5px;
	border-color:transparent;
	background-color:#748256;
	color:#fff;
}

#interests{
	text-align:center;
	background-color: #ffffff75;
	border-radius:10px;
	text-align: center;
	padding:0.5px;
	padding-right:20px;
	padding-left:20px;
}

#saved:hover{
	cursor:pointer;
}

#edit {
	width:120px;
	height:30px;
	font-size:20px;
	font-family: 'Ubuntu', sans-serif;
	border-radius:5px;
	border-color:transparent;
	background-color:#748256;
	color:#fff;
}

#edit:hover{
	cursor:pointer;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	height:50px;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
}

.smallerdiv{
	background-color:#fff;
	border-radius:20px;
	border-color:transparent;
	padding:3px 3px;
	padding-right:40px;
	padding-left:40px;
	z-index:1;
}

.smallerdiv a{
	color:#4d6b85;
}

.bookmarkbutton{
	background-color:transparent;
	border-color:transparent;
}
.bookmark-img {
	height:65px;
	width:50px;
}

.bookmarkbutton:hover {
	cursor:pointer;
}

.tags{
	display: inline;
	padding:5px 30px;
	background-color:#93ab85;
	border-radius:5px;
	border-color:transparent;
	color:#fff;
}